.menu, .mails, .contacts{
    background-color: tan;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

div.page{
    display: flex;
    gap: 10px;
}



/*    Меню    */

div.menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    height: min-content;
}

button.new_mail_button{
    width: 70%;
    align-self: center;
    border: 0;
    font-size: 18px;
}

button.menu_button:hover{
    background-color: white;
}

button.menu_button:active{
    filter: brightness(80%);
}

div.menu_line{
    display: flex;
    padding: 5px 10px 5px 10px;
    user-select: none;
    box-sizing: border-box;
}

div.menu_line:hover{
    background-color: white;
}

div.menu_line_option{
    width: 100%
}

div.menu_line_counter{
}




/*    Почта   */

div.mails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 700px;
}

/*    Почта/список    */

div.mails_filter{
    width: 100%;
    height: 50px;
    background-color: gray;
}

div.mails_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

div.mails_line{
    display: flex;
    padding: 5px 10px 5px 10px;
    background-color: gray;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    user-select: none;
}

div.mails_line:hover{
    background-color: white;
}

div.mails_line_sender{
    width: 30%;
    padding-left: 10px;
}

div.mails_line_subject{
    width: 60%;
}

div.mails_line_datetime{
    width: 10%;
    text-align: right;
}

/*    Почта/письмо   */

div.mails_mail{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

div.mails_mail_options{
    display: flex;
    width: 100%;
    gap: 10px;
}

div.mails_mail_options_button{
    user-select: none;
    background-color: gray;
    padding: 10px;
}

div.mails_mail_options_button:hover{
    background-color: white;
}

div.mails_mail_info{
    background-color: cornflowerblue;
    padding: 10px;
}

div.mails_mail_message{
    width: 100%;
    padding: 10px;
}

/*    Почта/письмо/Форма   */

form.mails_new_mail_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input.mails_new_mail_receivers{
    width: 100px;
    background-color: wheat;
    box-sizing: border-box;
    border: 0;
    outline:none
}

input.mails_new_mail_subject{
    width: 100px;
    background-color: wheat;
    box-sizing: border-box;
    border: 0;
    outline:none
}

input.mails_new_mail_message{
    background-color: wheat;
    box-sizing: border-box;
    border: 0;
    outline:none
}

/*    Контакты    */

div.contacts{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100px;
    gap: 10px;
}

div.contacts_options{
    width: 100%;
    background-color: gray;
}

div.contacts_list{
    width: 100%;
    background-color: gray;
}
div.contacts_user{
    width: 100%;
    background-color: gray;
}