{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <script src="{% static "main/js/elements.js"%}"></script>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <div class="page">
        {% include 'main/menu.html' %}
        {% include 'main/mails.html' %}
        {% include 'main/contacts.html' %}
    </div>

{% endblock %}


{% block scripts %}

    <script src="{% static "main/js/init.js"%}"></script>
    <script>init('{{ ws_url }}')</script>
    <script src="{% static "main/js/on_message.js"%}"></script>

{% endblock %}
