<div class="menu">

    <button type="submit" class="new_mail_button">Написать</button>

    <div class="menu_line" id="received_mails">
        <div class="menu_line_option">Входящие</div>
        <div class="menu_line_counter">1</div>
    </div>

    <div class="menu_line">
        <div class="menu_line_option" id="sent_mails">Отправленные</div>
        <div class="menu_line_counter">1</div>
    </div>

    <div class="menu_line" id="deleted_mails">
        <div class="menu_line_option">Удалённые</div>
        <div class="menu_line_counter">1</div>
    </div>

    <div class="menu_line">
        <div class="menu_line_option">Черновики</div>
        <div class="menu_line_counter">1</div>
    </div>

</div>

{% load static %}
<script src="{% static 'main/js/menu_block.js' %}"></script>